<table class="full-width">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario?.name}}</td>
      <td>{{usuario?.username}}</td>
      <td>{{usuario?.active ? 'ATIVO' : 'INATIVO'}}</td>
      <td>
        <app-usuario-list-menu (alterado)="_editaUsuario(usuario)"
                               (removido)="_removeUsuario(usuario)">
        </app-usuario-list-menu>
      </td>
    </tr>
  </tbody>
</table>