<div class="container">
  <mat-card>
    <mat-card-title>Teste de Autocomplete</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input type="text"
               matInput
               [formControl]="_autocompleteInputCtrl"
               [matAutocomplete]="auto">
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayFn">
        <mat-option *ngFor="let option of _options$ | async"
                    [value]="option">
          {{option?.nome}}
        </mat-option>
      </mat-autocomplete>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Teste de Formulário</mat-card-title>

    <mat-card-content>
      <form [formGroup]="_form">
        <app-formulario (valueChanged)="_gravarDados($event)"
                        [readonly]="_readonly"
                        [nomeVisivel]="_nomeVisivel"
                        formControlName="dadosDeUsuario">
        </app-formulario>
      </form>
    </mat-card-content>

    <mat-card-actions align="start">
      <button mat-button
              (click)="_alteraEstadoDoFormulario()">
        {{_disabled ? 'Habilitar' : 'Desabilitar'}}</button>

      <button mat-button
              (click)="_readonly = !_readonly">
        {{_readonly ? 'Libera escrita' : 'Somente Leitura'}}</button>

      <button mat-button
              (click)="_nomeVisivel = !_nomeVisivel">
        {{_nomeVisivel ? 'Esconder o nome' : 'Mostrar o nome'}}</button>

      <button mat-button
              (click)="_gravarDados()">
        Gravar dados</button>

    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="_usuarios?.length"
     class="list-container">
  <app-lista-de-usuarios (idRemovido)="_removeUsuario($event)"
                         [users]="_usuarios">
  </app-lista-de-usuarios>
</div>